@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
body{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
}
.box{
    font-size: 32px;
    width: 700px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 30% 20px;
    margin: 8% 0 0 26%;
    padding: 20px;
}

label{
    font-size: 12px;
    color: hsl(0, 1%, 44%);
}
.label{
    font-weight: 700;
    margin: 20px 0 10px 23px;
    display: flex;
    gap: 155px;
}
label:last-child{
    margin-left: -20px;
}
input{
    width: 110px;
    height: 55px;
    margin: 0 20px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    font-size: 26px;
    font-weight: 700;
    padding-left: 20px;
    color: hsl(0, 0%, 8%);
    outline: none;
}
input::placeholder{
    font-size: 27px;
    font-weight: 700;
    padding-left: 10px;
    position: absolute;
    color: hsl(0, 1%, 44%, .8);
}
input:focus, input:hover{
    border: 1px solid hsl(259, 100%, 65%);
}
input:hover{
    cursor: pointer;
}
.errors{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 10px 23px;
    display: flex;
    gap: 45px;
    position: absolute;
}
.error{
    color: hsl(0, 100%, 67%); 
    min-width: 135px;
    max-width: 135px;
}
.line{
    margin: 40px 30px;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    width: 90%;
}
input[type="submit"]{
    background-color: hsl(259, 100%, 65%);
    background-image: url("./assets/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    float: right;
    margin: -80px 25px;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 50%;
}
input[type="submit"]:hover{
    background-color: hsl(0, 0%, 8%);;
}
.display{
    margin: 55px 40px;
    font-size: 84px;
    font-weight: 800;
    font-style: italic;
}
.displayText{
    color: hsl(0, 0%, 8%);
}
.displayNumber{
    margin-top: -30px;
    color: hsl(259, 100%, 65%);
}
@media only screen and (max-width: 376px) {
    .box{
        width: 100%;
        height: 700px;
        margin: 15% 10px 15% 0;
    }
    .label{
        margin: 20px 0 10px 0;
        gap: 90px;
    }
    label:last-child{
        margin-left: -20px;
    }
    input{
        width: 71px;
        margin: 0 20px 0 0.1px;
    }
    input::placeholder{
        padding-left: 0.001px;
    }
    .errors{
        margin: 0 0 10px 0;
        gap: 20px;
    }
    .error{
        min-width: 100px;
        max-width: 100px;
    }
    .line{
        margin: 80px 30px;
    }
    input[type="submit"]{
        margin: -120px 36%;
    }
    .display{
        margin: 0 -20px;
        font-size: 72px;
    }
    .displayNumber{
        margin-top: -1px;
    }
}
.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }
